@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");


* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  font-family: 'General Sans', sans-serif;
  /* letter-spacing: 0.03em; */
}

.form-control {
  margin-bottom: 10px;
  border: 2px;
}

.error {
  font-size: 12px;
  color: red;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  user-select: none;
}

.btn {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 8rem;
  height: 2.5rem;
  line-height: 2em;
  text-align: center;
  background: -webkit-gradient(linear,left top, right top,from(#03a9f4),color-stop(#f441a5),color-stop(#ffeb3b),to(#03a9f4));
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  -webkit-animation: ani 8s linear infinite;
  animation: ani 8s linear infinite;
 }
 
 .btn:hover {
  -webkit-animation: ani 8s linear infinite;
          animation: ani 8s linear infinite;
  border: none;
 }
 
 @-webkit-keyframes ani {
  0% {
   background-position: 0%;
  }
 
  100% {
   background-position: 400%;
  }
 }
 
 @keyframes ani {
  0% {
   background-position: 0%;
  }
 
  100% {
   background-position: 400%;
  }
 }
 
 .btn:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: -webkit-gradient(linear,left top, right top,from(#03a9f4),color-stop(#f441a5),color-stop(#ffeb3b),to(#03a9f4));
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 35px;
  -webkit-transition: 1s;
  transition: 1s;
 }
 
 .btn:hover::before {
  -webkit-filter: blur(20px);
          filter: blur(20px);
 }
 
 .btn:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
 }

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 1px solid gray;
}