@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  box-sizing: border-box;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  user-select: none;
}

.btn {
  text-decoration: none;
  position: relative;
  border: none;
  padding: 0.25rem;
  font-size: 0.875rem;
  font-family: inherit;
  color: #fff;
  width: 6rem;
  height: 3rem;
  line-height: 2em;
  text-align: center;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#03a9f4),
    color-stop(#f441a5),
    color-stop(#ffeb3b),
    to(#03a9f4)
  );
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 12px;
  z-index: 1;
  -webkit-animation: ani 8s linear infinite;
  animation: ani 8s linear infinite;
}

.btn:hover {
  -webkit-animation: ani 8s linear infinite;
  animation: ani 8s linear infinite;
  border: none;
}

@-webkit-keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
    border-radius: 24px;
  }
}

.btn:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6rem;
  height: 3rem;
  z-index: -1;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#03a9f4),
    color-stop(#f441a5),
    color-stop(#ffeb3b),
    to(#03a9f4)
  );
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 12px;
  -webkit-transition: 1s;
  transition: 1s;
}

.btn:hover::before {
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.btn:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

.btnSmall {
  text-decoration: none;
  position: relative;
  border: none;
  padding: 0.25rem;
  font-size: 0.875rem;
  font-family: inherit;
  color: #fff;
  width: 5rem;
  height: 2.25rem;
  line-height: 2em;
  text-align: center;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#03a9f4),
    color-stop(#f441a5),
    color-stop(#ffeb3b),
    to(#03a9f4)
  );
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 12px;
  z-index: 1;
  -webkit-animation: ani 8s linear infinite;
  animation: ani 8s linear infinite;
}

.btnSmall:hover {
  -webkit-animation: ani 8s linear infinite;
  animation: ani 8s linear infinite;
  border: none;
}

@-webkit-keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
    border-radius: 24px;
  }
}

.btnSmall:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 5rem;
  height: 2.25rem;
  z-index: -1;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#03a9f4),
    color-stop(#f441a5),
    color-stop(#ffeb3b),
    to(#03a9f4)
  );
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 12px;
  -webkit-transition: 1s;
  transition: 1s;
}

.btnSmall:hover::before {
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.btnSmall:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 1px solid gray;
}

.cardAnimation {
  transition: border-radius 0.5s, border 0.5s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
}

.cardAnimation:hover {
  @apply rounded-2xl;
  border: solid 1px black;
}

.innerCard {
  background: rgba(217, 217, 217, 0.58);
  margin: 0.5rem;
  max-height: fit-content;
  /* border: 1px solid white; */
  max-width: fit-content;
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  transition: all 0.5s;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  /* width: 100%; */
  /* min-width: fit-content; */
}

.innerCard:hover {
  border: 1px solid black;
  transform: scale(1.01);
}

.innerCard:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
