@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");


* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  font-family: 'General Sans', sans-serif;
  /* letter-spacing: 0.03em; */
}

.form-control {
  margin-bottom: 10px;
  border: 2px;
}

.error {
  font-size: 12px;
  color: red;
}
